@*
*@
@{
}

@foreach(Team team in Model)
{
    <tr>
        <td>
            <a asp-controller="Home" asp-action="DisplayTeamByTeamId" asp-route-id="@team.Id" class="btn btn-primary">@team.Name</a>
        </td>
    </tr>
}

